@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
/*   box-sizing: border-box; */
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 16px;
  padding: 16px 0px;
}

.left-links,
.right-links {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.left-links li a,
.right-links li a {
  text-decoration: none;
  color: black;
}

img {
  width: 600px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

button {
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
