/* Add CSS Styling */

#button-1 {
    background-color: #000000;
    color: white;
}

#button-2 {
    background-color: yellow;
}

#button-1,
#button-2{
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}
