div {
    color: white;
    background-color: red;
    text-size: 32px;
    text-align: center;
    text-weight: bold;
}

p {
    color: white;
    background-color: green;
    font-size: 18px;
}

button {
    background-color: orange;
    font-size: 18px;
}
